{% extends 'global/base.html' %}

{% block content %}
  <div class="responsive-table">
    <table class="contacts-table">
      <caption class="table-caption">
        Contacts
      </caption>

      <thead>

        <tr class="table-row table-row-header">
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Phone</th>
          <th>Email</th>
        </tr>

        <tbody>
          {% for contact in contacts %}
            <tr class="table-row">
              <td class="table-cel">
                <a class="table-link" href="#">
                  {{ contact.id }}
                </a>
              </td>
              <td class="table-cel">
                {{ contact.first_name }}
              </td>
              <td class="table-cel">
                {{ contact.last_name }}
              </td>
              <td class="table-cel">
                {{ contact.phone }}
              </td>
              <td class="table-cel">
                {{ contact.email }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </thead>
    </table>
  </div>
{% endblock content %}